
body {
  background-color: #f0f0f0;
}

.app-header {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

.app-header h1 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}
